include ../header.jade

.box
	h2 Visa
	
	//img(src='/images/visa.jpg', alt='Japanese Visa')
	
	:marked
		To be able to stay in Japan you will need to obtain a visa. The most common visa types used by foreign students are listed below.
	
.box
	:marked
		### Student Visa
		
		Those wishing to study in Japan will stay under “student visa” status.
		With a student visa you can stay for 1 year, with the option of extending up to 2 years.
		Those students who study Japanese for more than 20 hours per week and for longer than 6 months
		may apply for a student visa at Nihongo Center.
		
.box
	:marked
		### Part-time Jobs
		
		After issuance of a work permit
		by the immigration service, it is possible for a person in possession of a student visa
		to find work not exceeding 28 hours per week (you can work 8 hours day during the summer or winter).
		
.box
	:marked
		### Short-term Visa
		Language school students may obtain a short-term student visa
		(for the purpose of learning Japanese language).
		Or if your country is part of the visa exemption agreement with Japan,
		students can come to Japan without a visa (for 90 days or 180 days)
		but it is not possible to extend the period of stay.
		Those who wish to stay in Japan for a short period may apply
		for this visa or come without visa. Also, those students who could
		not file for a regular student visa by the deadline may apply for this
		visa (or come without visa) and stay in Japan until the next enrollment period.
		In such a case, students must leave Japan once because
		it is not permitted to extend a short-term visa.
		
.box
	:marked
		### Countries where a visa is not required
		
		Japan has taken measures concerning the visa exemption with 61 countries and regions.
		Because of this, students from most countries are able to take our regular course
		without the need of a visa.
		However, those from countries not on the visa waver agreement need to obtain a short-term visa.
		To see whether or not your country is part of the visa waver agreement,
		please check the Japanese Ministry of Foreign Affairs'
		[list of countries qualifying for visa exemption](http://www.mofa.go.jp/j_info/visit/visa/short/novisa.html).
		
.box
	:marked
		### Applying for Short-term Visa
		
		If your country is not on the visa exemption list and requires a short-term visa to enter Japan, Nihongo Center will provide the following documents.
		
		1. School Admission Permit
		1. Letter of Invitation
		1. Personal Reference Form
		1. Schedule of Visit to Japan
		
		Please take these documents to the nearest Japanese Embassy or Consulate and apply for a short-term visa.
		Required documents may vary by country, so please confirm beforehand.