include ../about/header.jade

mixin showMember(member)
	img(src='/images/staff/' + member.name.split(' ')[1].toLowerCase() + '.png', alt=member.name, title=`${member.name} (${member.role})`)

.box
	h2 Staff
	img(src='/images/staff/staff.jpg', alt='All staff members')
	
.box
	h3 Staff members
	.staff-members
		each member in staff
			if member.link
				a.staff-member(href=member.link, target='_blank')
					+showMember(member)
			else
				.staff-member
					+showMember(member)
		