.staff-members
	display flex
	flex-flow row wrap

.staff-member
	margin 0.25em
	box-shadow 0 0 8px rgba(0, 0, 0, 0.5)
	transition all 150ms ease
	transform scale(0.92)
	border-radius 5px
	&:hover
		transform scale(1)
	img
		border-radius 5px