.form
	display flex
	flex-flow row wrap
	width 100%

.field
	width 100%
	padding 0.5em 0

label
	display block
	padding 0.5em 0
	font-weight bold

input, select, textarea, button
	display block
	width 100%
	max-width 400px
	appearance none
	background white
	color textColor
	border 1px solid rgba(0, 0, 0, 0.5)
	border-radius 3px
	padding 0.5em
	margin 0
	transition border 250ms ease, box-shadow 250ms ease
	font-family inherit
	font-size inherit
	&:focus
		border-color linkColor
		box-shadow 0 0 4px linkColor

button
	background-color linkColor
	color white
	border none
	&:hover
		cursor pointer
		background-color linkColor + 10%
	&:active
		background-color linkColor - 10%

textarea
	height 200px
	transition height 0 none