:markdown
	## Japanese courses at Nihongo Center
	
	Here at Nihongo Center, we recognize the multitude of reasons for studying Japanese.
	For those who wish to master daily conversation, continue your education in Japan,
	or find a job related to Japanese, we have carefully developed courses to meet your various needs.

.courses
	.course
		.course-icon.glyphicon.glyphicon-education
		h3.course-title Introductory
		p.course-description Students learn the Japanese sentence structure and vocabulary necessary for acquiring basic conversational skills. Students are also taught to read and write about basic, familiar topics. At the completion of this course, students will be at approximately level N5 or N4 of the Japanese Language Proficiency Test.
		
	.course
		.course-icon.glyphicon.glyphicon-education
		h3.course-title Beginner