include header.jade

.box
	h2 Japanese courses at Nihongo Center
	
	p
		| Here at Nihongo Center, we recognize the multitude of reasons for studying Japanese.
		| For those who wish to master daily conversation, continue your education in Japan,
		| or find a job related to Japanese, we have carefully developed courses to meet your various needs
		| and prepare you for any 
		a.ajax(href='/future/jlpt') JLPT
		|  level you wish to pass.
	
	img(src='/images/course.jpg', alt='Course overview')

.box.course
	.badge N5 - N4
	.course-icon.glyphicon.glyphicon-education
	h3.course-title Introductory
	p.course-description Students learn the Japanese sentence structure and vocabulary necessary for acquiring basic conversational skills. Students are also taught to read and write about basic, familiar topics. At the completion of this course, students will be at approximately level N5 or N4 of the Japanese Language Proficiency Test.
	
.box.course
	.badge N3
	.course-icon.glyphicon.glyphicon-education
	h3.course-title Beginner
	p.course-description This course focuses on improving practical daily conversational skills, including honorific expressions. In addition, readings and writings focus on topics related to Japanese culture to help deepen the students’ interest and understanding. Japanese ability should be comparable to level N3 of the JLPT at the completion of this course.
	
.box.course
	.badge N2
	.course-icon.glyphicon.glyphicon-education
	h3.course-title Intermediate
	p.course-description In this course students learn to distinguish various levels of formality, honorifics, and gender-specific speech, while continuing to build their conversational ability in a number of situations. Students read novels, newspapers, and magazines, and learn to express their opinions through high-level writing. Japanese level will be comparable to level N2 of the JLPT at the end of this course.
	
.box.course
	.badge N1
	.course-icon.glyphicon.glyphicon-education
	h3.course-title Advanced
	p.course-description This course helps student attain fluency in communication and the skills needed to exchange thoughts, opinions, and information freely. Students read and write about novels, current events, and other technical topics, as well as build their ability to discuss and debate. Japanese level should comparable to level N1 of the JLPT at the completion of this course.