.box.sub-navigation
	a.sub-navigation-item.ajax(href='/join')
		span.glyphicon.glyphicon-share-alt
		span Join us
	
	a.sub-navigation-item.ajax(href='/join/visa')
		span.glyphicon.glyphicon-plane
		span Visa