.box
	h2 Join us!
		
	p It's simple. Just fill in your personal data at our 
		a(href='https://my.nihongo-center.com', target='_blank') online registration
		|  platform, upload your documents and you're ready to apply.
	
.box
	h3 Preparation
	
	p You'll need the following documents:
	
	ul
		li Curriculum Vitae
		li Letter of Guarantee
		li Pledge