include header.jade

.box
	h2 Join us!
		
	p It's simple. Just fill in your personal data at our 
		a(href='https://my.nihongo-center.com', target='_blank') online registration
		|  platform, upload your documents and you're ready to apply.
	
	img(src='/images/join-us.jpg', alt='Join us at Nihongo Center')
	
.box
	h3 Preparation
	
	p You'll need the following documents:
	
	ul
		li
			a(href='/downloads/curriculum-vitae.xls') Curriculum Vitae
		li
			a(href='/downloads/letter-of-guarantee.docx') Letter of Guarantee
		li
			a(href='/downloads/pledge.doc') Pledge