include ../life/header.pug

.box
	h2= __(title)
	
	!= md(__(lead))

.box
	h3 Apartments
	ul
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Grand-Chariot-Kitaoji.pdf', target='_blank') Grand Chariot Kitaoji
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/City_Heights_Murasakino.pdf', target='_blank') City Heights Murasakino
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Koyama-Heights.pdf', target='_blank') Koyama Heights
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Louger_Shimogamo.pdf', target='_blank') Louger Shimogamo
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Avenue77.pdf', target='_blank') Avenue77
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Corpo-Kopo-Higashiyama-Nanajyo.pdf', target='_blank') Kopo/Corpo Higashiyama Nanajo
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Shimogamo-Heights.pdf', target='_blank') Shimogamo Heights
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Kinrin_Royal_House.pdf', target='_blank') Kinrin Royal House
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Shirakawa_Royal_House.pdf', target='_blank') Shirakawa Royal House
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Shamble_Igawa.pdf', target='_blank') Shamble Igawa
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Detom-One-Kyoto-Gaidai-Minami.pdf', target='_blank') Detom One Kyoto Gaidai MInami
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Landmark_Hayashi.pdf', target='_blank') Landmark Hayashi
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Rupie-Shijyo.pdf', target='_blank') Lupie Shijo
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Espoir-Kamogawa.pdf', target='_blank') Espoir Kamogawa
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Robins_Hiyoshigaoka_Daiichi.pdf', target='_blank') Robins Hiyoshigaoka Daiichi
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Sakura-Maison-Imadegawa.pdf', target='_blank') Sakura Maison Imadegawa
	
.box
	h3 For two persons
	ul
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Yuzen-Heights.pdf', target='_blank') Yuzen Heights
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Gracecourt-Horikawa-for-two-persons.pdf', target='_blank') Gracecourt Horikawa
	
.box
	h3 Share Houses
	ul
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Nihongo_Center_Guest_House.pdf', target='_blank') Sakura Bldg. 7F/ Nihongo Center Guest House
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Kawaramachi-Sharehouse.pdf', target='_blank') Kawaramachi Sharehouse
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Niko_Niko_House.pdf', target='_blank') Niko Niko House
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Shimogamo-Sharehouse.pdf', target='_blank') Shimogamo Sharehouse
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Uji_Kohata_Share_House.pdf', target='_blank') Uji Kohata Share House
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Ikoi-House.pdf', target='_blank') Ikoi House
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Uzumasa-Sharehouse.pdf', target='_blank') Uzumasa Sharehouse
		li
			i.fa.fa-file-pdf-o
			a(href='/downloads/accomodation/Obaku-Sharehouse.pdf', target='_blank') Obaku Share House

.box
	h3 Housing Websites
	ul
		li
			| Sakura Co., Ltd.： 
			a(href='http://a-sakura.co.jp/srent/housing/', target='_blank') http://a-sakura.co.jp/srent/housing/
		li
			| Robins International： 
			a(href='http://www.ips-robins.co.jp/', target='_blank') http://www.ips-robins.co.jp/
		li
			| Kyoto Apartment：
			a(href='http://kyoto-apartment.com/', target='_blank') http://kyoto-apartment.com/
		li
			| Homestay in Japan：
			a(href='http://www.homestay-in-japan.com/eng/', target='_blank') http://www.homestay-in-japan.com/eng/
		li
			| Leopalace 21：
			a(href='http://en.leopalace21.com/', target='_blank') http://en.leopalace21.com/