include header.jade

.box
	h2 Future
	
	img(src='/images/future.jpg', alt='What will you do after graduating from Nihongo Center?')
	
	
.box
	:marked
		### University
	
		Studying at a Japanese Language School will give you the opportunity to enter a university in Japan.
		Since this is a very common case you can find the requirements for entering a university below.
		
.box
	:marked
		### Vocational school
	
		You can also choose to enter a vocational school in Japan. The requirements are as follows:
		
		1. JLPT (at least N2)
		1. School application
		1. Exam