include header.jade

.box
	h2 Future
	
	img(src='/images/future.jpg', alt='What will you do after graduating from Nihongo Center?')
	
.box
	h3 We got your back
	
	p Whatever you wish to do in the future, Nihongo Center can guide you to your goal:
	
	ul
		li
			a.ajax(href='/future/education') Education
			
		//li
		//	a.ajax(href='/future/career') Career
			
		li
			a.ajax(href='/future/jlpt') JLPT