include header.jade

.box
	h2= __(title)
	
	img(src='/images/future.jpg', alt='What will you do after graduating from Nihongo Center?')
	
.box
	h3= __(subTitle)
	
	!= md(__(text))
	
	ul
		li
			a.ajax(href='/future/education')= __(links.education)
			
		//li
		//	a.ajax(href='/future/career')= __(links.career)
			
		li
			a.ajax(href='/future/jlpt')= __(links.jlpt)