.box.sub-navigation
	a.sub-navigation-item.ajax(href='/future')
		span.glyphicon.glyphicon-education
		span Education
	
	a.sub-navigation-item.ajax(href='/future/career')
		span.glyphicon.glyphicon-briefcase
		span Career
		
	a.sub-navigation-item.ajax(href='/future/jlpt')
		span.glyphicon.glyphicon-certificate
		span JLPT