include ../../../header.jade

.box
	h2= __(title)
	
	img.interview-picture(src='/images/interview/miranda.png', alt='Gabriella Miranda')

.box
	dl
		each pair in interview
			dt= __(pair.question)
			dd!= md(__(pair.answer))