.box
	:markdown
		## Practical Japanese
		
		Our professional instructors use a uniquely developed teaching method to guide
		students through the learning process. Even complete beginners find they are able
		to start communicating from the very first week,
		and can become proficient in daily conversation after only 6 months of study.
		We are here to help you through the exciting experience of language acquisition.
		Project work, visitor sessions, and other opportunities to communicate with Japanese
		people will help fine-tune your languages skills for practical use.
	
.box
	.video-container.widescreen
		iframe.video(src='https://www.youtube.com/embed/6WWX5b95kEc?showinfo=0')