doctype html
html
	head
		title= siteName
	
	body
		#container
			header#header
				.box.header-layout
					img.logo(src='/images/logos/nihongo-center-small.png', alt='Japanese Language School - Nihongo Center')
					h1.title
						.title-top Japanese Language School
						.title-bottom Nihongo Center
					nav#navigation
						a.nav-item.ajax(href='/')
							span.glyphicon.glyphicon-info-sign.nav-icon
							span.nav-text About
						a.nav-item.ajax(href='/course')
							span.glyphicon.glyphicon-education.nav-icon
							span.nav-text Course
						a.nav-item.ajax(href='/life')
							span.glyphicon.glyphicon-user.nav-icon
							span.nav-text Life
						a.nav-item.ajax(href='/future')
							span.glyphicon.glyphicon-flag.nav-icon
							span.nav-text Future
						a.nav-item.ajax(href='/join')
							span.glyphicon.glyphicon-share-alt.nav-icon
							span.nav-text Join us
			#main
				main#content.fade!= content
				aside#sidebar
					include sidebar.jade
			footer#footer
				.box
					span &copy; 2016 
					a(href='/') Nihongo Center