a.widget.apply-now(href='https://my.nihongo-center.com/', target='_blank')
	span Apply now!

.widget
	a(href='https://www.youtube.com/channel/UCESbRxjpk764iuXmLt9soxQ', target='_blank', title='Nihongo Center Youtube Channel')
		img(src='/images/youtube.jpg', alt='Nihongo Center Youtube Channel')
		
.widget.sidebar-social-media
	a(href='https://www.facebook.com/NihongoCenterKyoto', target='_blank', title='Facebook', class='sidebar-social-media-link facebook')
		img(class='sidebar-social-media-icon', src='/images/social-media/facebook.png', alt='Facebook', width='32', height='32')

	a(href='https://plus.google.com/+NihongoCenterJapaneseLanguageSchool%E4%BA%AC%E9%83%BD%E5%B8%82/about', target='_blank', title='Google+', class='sidebar-social-media-link googleplus')
		img(class='sidebar-social-media-icon', src='/images/social-media/googleplus.png', alt='Google+', width='32', height='32')

	a(href='https://twitter.com/NihongoCenterJP', target='_blank', title='Twitter', class='sidebar-social-media-link twitter', rel='publisher')
		img(class='sidebar-social-media-icon', src='/images/social-media/twitter.png', alt='Twitter', width='32', height='32')

	//-a(href='/contact', class='sidebar-social-media-link mail-button')
		img(class='sidebar-social-media-icon', src='/images/social-media/email.png', alt='E-Mail', width='32', height='32')

.widget
	a.ajax(href='/access', title='Access')
		img(src='/images/access.png', alt='Nihongo Center Access')
	
.widget
	p(style='text-align: center')
		span October 2016 intensive course registration ends on the 
		strong 3rd of June
		span .