include ../about/header.jade

.box
	:markdown
		## Events
		
		Through project work students are given a chance to put their acquired knowledge to use,
		by using practical Japanese outside of the class to research, plan, and prepare a presentation.
		As an example, we will take a look at a beginner’s group who chose to make a presentation about
		“Wagashi” (Japanese sweets).
		
.box
	h3 Experience
	
	.step
		img.step-image(src='/images/wagashi/1.jpg', alt='Experience')
		
		.step-info
			p.
				First, students decide someplace they’d like to go to or
				something they’d like to experience based on their interests.
				This group decided to go to a Wagashi-making event held
				at a long-standing Japanese sweets shop in Kyoto.

.box
	h3 Choose a topic
	
	.step
		img.step-image(src='/images/wagashi/2.jpg', alt='Choose a topic')
			
		.step-info
			p.
				After experiencing it first hand, students decide which specific topic
				they’d like to research further. This group chose to present themes such as:
			
			ul
				li How to make Wagashi
				li History and ingredients
				li Interview with a Wagashi artisan
				li Ingredients and shapes of Wagashi
		
.box
	h3 Investigate
	
	.step
		img.step-image(src='/images/wagashi/3.jpg', alt='Investigate')
		
		.step-info
			p.
				Once the topics have been decided, it’s time for research.
				Students put their Japanese to use outside of the classroom to conduct interviews,
				surveys and research through the internet.
				This group went around to famous Wagashi shops in Kyoto,
				interviewing employees and Wagashi artisans.
		
.box
	h3 Prepare
	
	.step
		img.step-image(src='/images/wagashi/4.jpg', alt='Prepare')
		
		.step-info
			p.
				After all the research has been conducted,
				students gather their information to create a manuscript and slides for their presentation.
				Then comes practice; Group members check each others’ pronunciation, mannerisms,
				and volume of voice, making sure everyone is well-prepared.
		
.box
	h3 Present
		
	.step
		img.step-image(src='/images/wagashi/5.jpg', alt='Present')
		
		.step-info
			p.
				Other classes gather to watch the presentation. This way, students are able
				to fully show the hard work and effort they put into their project.
				Once the presentation is over, everyone in the group feels a sense of accomplishment
				that they made it through to the end.
		
.box
	h3 Reflect
	
	.step
		img.step-image(src='/images/wagashi/6.jpg', alt='Reflect')
		
		.step-info
			p.
				Finally, the group receives feedback from the class.
				By watching a video of their presentation they can see themselves objectively
				and look back on the efforts they made from the beginning to the end.
				
.box
	.video-container.widescreen
		iframe.video(src='https://www.youtube.com/embed/WTSVOaWCkYo?showinfo=0')