.widget
	:markdown
		## Facilities
	
		We put a lot of effort into making your study environment as **clean** and **relaxing** as possible.
		The following photos show how Nihongo Center looks from the inside:
	
	each image in imageList
		img.facility-image(src='/images/facilities/' + image, alt='Nihongo Center Facilities')