include ../header.pug

.box
	h2= __(title)
	!= md(__(text))
	img(src='/images/A1b.png', alt='International School')
.box

	.step
		img.step-image(src='/images/Sans titre-4.png', alt='2015stat')
	.step
		img.step-image(src='/images/Sans titre-5.png', alt='2016stat')
	.step
		img.step-image(src='/images/Sans titre-6.png', alt='2017stat')
