include ../../../header.jade

.box
	h2 Interview: Peter Johansson
	
	img.interview-picture(src='/images/interview/johansson.png', alt='Peter Johansson')

.box
	dl
		dt How long have you been living in Japan?
		dd I have lived in Japan for exactly 2 years.
		
		dt Why did you decide to come to Japan?
		dd
			| Because I have always had a strong interest in video games and manga, I decided to come here to study Japanese.
		
		dt How long did you study Japanese before coming to Japan?
		dd
			| I could read hiragana, katakana, and about 50 kanji, and could do a basic self-introduction. Even so, my reading was quite slow, and my grammar was a mess.
		
		dt What was your Japanese level before coming to Japan?
		dd Please see the previous answer. ☺
		
		dt What were your thoughts when taking the JLPT?
		dd
			| While I was very nervous during each level I took (N3, N2, and N1), I thought it was a great chance to measure my ability. I was quite nervous and excited while taking the test. (Though probably mostly nervous!)
		
		dt How did you feel after passing the JLPT?
		dd
			| Of course I was extremely happy. Particularly upon passing N1 and N2, since they are needed to enter university or to get a job. It was the greatest feeling.
		
		dt What efforts did you make in order to pass the JLPT?
		dd
			| If you can make studying enjoyable, it will make passing much easier. If you're not enjoying studying, you won't want to continue, so it is important to make things fun and interesting. If you do this, you will increase your chance of passing the JLPT. I personally recommend video games and reading manga.
		
		dt What aspect of classes at Nihongo Center were useful for passing the JLPT?
		dd
			| Studying a while field of topics in Japanese really helped. Reading in particular is especially important for the JLPT, which we practiced a lot in class. Nihongo Center's teaching style was very helpful to me.
		
		dt Do you have a message for the teachers at Nihongo Center?
		dd
			| My two years at Nihongo Center was a very important learning experience. I really appreciate all of the awesome teachers who made classes so much fun. I don't know if we'll be able to meet again, but I will never forget you. To all my teachers- thank you!
		
		dt Do you have a message for those who are thinking about studying Japanese?
		dd
			| The beginning and the end of your Japanese studies are the most fun, I think. In the beginning you progress quickly and it's not so difficult. In the end you can understand most everything, which is a really exciting feeling. However, I have seen many people who have given up half-way, so it's really important to keep pushing yourself. If you can get through the boring, difficult parts, you can make it to the fun part. Don't give up!
		
		dt What are your future plans? (Japanese study, JLPT, work, etc)
		dd
			| I will likely be returning to Sweden soon to go to university, so for the time I don't think I can get a job related to Japanese. But in order to maintain my ability, I plan to read in Japanese for 1-4 hours everyday. Since one day I want to do Swedish-Japanese translating, I plan to keep doing my best.