include ../about/header.pug

.box
	h2 News
	if requestLanguage === 'se'
	
	CSN : Nihongo Center can give you necessary document to apply for CSN
	
each article in articles
	.box
		h3= article.title
		!= md(article.text)
