include ../join/header.pug

.box
	h2 Access
	
	iframe.google-maps(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3268.216743351752!2d135.76833484564312!3d35.00127911040573!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x8237774759330585!2zTmlob25nbyBDZW50ZXIgLyDml6XmnKzoqp7jgrvjg7Pjgr_jg7w!5e0!3m2!1sen!2sus!4v1458101252939", allowfullscreen)

.box
	h2 Address
	p
		| Sakura Building 1F 2F 4F 5F 6F
		br
		| 356 Tominaga-cho, South Bukkoh-ji Kawaramachi Street
		br
		| Shimogyo-ku, Kyoto 600-8023 JAPAN
		
	p
		| TEL: +81-(0)75-344-3776
		br
		| FAX: +81-(0)75-344-3786