include header.jade

.box
	img(src='/images/frontpage.jpg', alt='Nihongo Center')
	:marked
		Nihongo Center is a **Japanese school** located in the heart of Kyoto.
		With over 30 years of experience teaching the Japanese language,
		we have established ourselves with our unique teaching methods as well as the talent
		and ability of our experienced instructors.
		
		We have a very diverse student population at our school,
		with a good majority of students from western countries.
		Our JLPT-based curriculum helps ensure a high pass-rate for any level of the test.
		In addition, we help students grow and develop their self-expression and communication skills
		through project work, class discussions, etc.
		
		Because of our rich and varied curriculum,
		many of our students have been able to pass the entrance exams needed to continue
		on to universities throughout Japan without any worries about language barriers.