.box.sub-navigation
	a.sub-navigation-item.ajax(href='/')
		span.glyphicon.glyphicon-home
		span About
		
	a.sub-navigation-item.ajax(href='/international-school')
		span.glyphicon.glyphicon-globe
		span International
	
	a.sub-navigation-item.ajax(href='/practical-japanese')
		span.glyphicon.glyphicon-comment
		span Practical
		
	a.sub-navigation-item.ajax(href='/events')
		span.glyphicon.glyphicon-calendar
		span Events
		
	a.sub-navigation-item.ajax(href='/facilities')
		span.glyphicon.glyphicon-blackboard
		span Facilities
		
	a.sub-navigation-item.ajax(href='/staff')
		span.glyphicon.glyphicon-user
		span Staff