.box.sub-navigation
	a.sub-navigation-item.ajax(href='/life')
		span.glyphicon.glyphicon-eye-open
		span Life
		
	a.sub-navigation-item.ajax(href='/life/study-in-japan')
		span.glyphicon.glyphicon-education
		span Study
	
	a.sub-navigation-item.ajax(href='/life/accomodation')
		span.glyphicon.glyphicon-bed
		span Accomodation
	
	a.sub-navigation-item.ajax(href='/life/guesthouse')
		span.glyphicon.glyphicon-home
		span Guest House
		
	a.sub-navigation-item.ajax(href='/life/faq')
		span.glyphicon.glyphicon-question-sign
		span FAQ