.box.sub-navigation
	a.sub-navigation-item.ajax(href='/life')
		span.glyphicon.glyphicon-eye-open
		span Life
	
	a.sub-navigation-item.ajax(href='/accomodation')
		span.glyphicon.glyphicon-bed
		span Accomodation
		
	a.sub-navigation-item.ajax(href='/faq')
		span.glyphicon.glyphicon-question-sign
		span FAQ