.box
	:markdown
		## Life
		
		“I want to do more than just study…” If you’re looking for something more than hitting
		the textbooks everyday, then Nihongo Center is for you.
		With our Discover Kyoto Program, you have the chance to explore the rich history
		and traditional culture still present in Kyoto today, as well as having the
		opportunity to interact with Japanese student volunteers.

.box
	img.dkp-image(src='/images/dkp/01.jpg', alt='DKP 01')

.box
	:markdown
		### What’s the Discover Kyoto Program?
		
		The Discover Kyoto Program (DKP) is a “tour experience” program started at Nihongo Center in 2011.
		From visiting famous places to trying out different aspects of Japanese culture,
		the DKP gives you a unique opportunity to expand on your cultural experiences in Japan.
		There are eight events scheduled throughout the year, on weekends and holidays.
		Students can choose which events they are interested in, and simply pay the fee to participate.

.box
	.video-container.widescreen
		iframe.video(src='https://www.youtube.com/embed/_wkxBRff8jA?showinfo=0')

.box
	:markdown
		### Purpose of the Program
		
		We believe there is more to learning Japanese than simply going to class. Experiencing Japanese culture and customs are very important aspects to the learning process. We hope to give our students as many opportunities as possible. Before, we held various events such as visiting the famous Gion Matsuri and our Daimonji hiking tour, and in 2011 decided to expand on these events, thus establishing the Discover Kyoto Program.
		We invite you all to join us and have a great time!
		
each val in ['02', '03', '04', '05', '06', '07', '08', '09']
	.box
		img.dkp-image(src='/images/dkp/' + val + '.jpg', alt='DKP ' + val)