include header.pug

.box
	h2= __(title)
	
	!= md(__(lead))

.box
	img.dkp-image(src='/images/dkp/01.jpg', alt='DKP 01')

.box
	h3= __(dkp.title)
	
	!= md(__(dkp.text))

.box
	.video-container.widescreen
		iframe.video(src='https://www.youtube.com/embed/_wkxBRff8jA?showinfo=0')

.box
	h3= __(dkp.purpose.title)
	
	!= md(__(dkp.purpose.text))
		
each val in ['02', '03', '04', '05', '06', '07', '08', '09']
	.box
		img.dkp-image(src='/images/dkp/' + val + '.jpg', alt='DKP ' + val)