include ../header.jade

.box
	:marked
		## Duration
			
		We're very **flexible**.
		You can choose how long you want to study at Nihongo Center and we will
		handle all the visa paperwork with the Japanese government
		in order for you to come to Japan.
		
.box
	h3
		span.glyphicon.glyphicon-time
		span 10 - 20 weeks
	
	p
		| The 
		strong Short-Term Course
		|  is designed for those who wish to improve their conversation
		| skills for daily life in Japan, for their job, or whatever other reason they may have.
		| We offer classes to fit the students’ wants and needs, with 
		a.ajax(href='/course') 4 levels from beginner to advanced
		| . The number of lesson hours per week allows for optimal learning without being overwhelming.
		| Those wishing to come to Japan on a short-term 90 day visa should consider this Japanese course.
	
.box
	h3
		span.glyphicon.glyphicon-time
		span 1 - 2 years
	
	p
		| The 
		strong Intensive Course
		|  is for those who wish to thoroughly study Japanese
		| for a year or longer, and is particularly suited for those wishing to improve
		| their language skills, continue their education in Japan, or find a job that
		| makes use of their Japanese language skills. 
		a.ajax(href='/course') Classes are divided into 4 levels
		| , with curriculum designed to each student’s ability. In particular,
		| the course focuses on developing the student’s verbal communication skills,
		| while helping to develop reading, writing, and listening as well. Guidance is also
		| provided for those wishing to take the Japanese Language Proficiency Test,
		| enter university or find work in Japan.