include ../header.jade

.box
	h2= __(title)
	
	!= md(__(lead))
	
.box
	h3
		span.glyphicon.glyphicon-time
		span= __(shortCourse)
	
	!= md(__(shortCourse.text))
	
.box
	h3
		span.glyphicon.glyphicon-time
		span= __(intensiveCourse)
	
	!= md(__(intensiveCourse.text))