include ../header.jade

.box
	:marked
		## Duration
			
		We're very **flexible**.
		You can choose how long you want to study at Nihongo Center and we will
		handle all the visa paperwork with the Japanese government
		in order for you to come to Japan.
		
.box
	h3
		span.glyphicon.glyphicon-time
		span 10 weeks
	:marked
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Suspendisse ornare gravida massa, non aliquam urna finibus vel.
		Sed nunc felis, tincidunt vitae est non, fermentum porttitor nibh.
		Nullam a neque imperdiet, ultrices dolor ac, dignissim sapien.
		Nam sit amet sapien ut ante tincidunt cursus quis vel erat.
		Duis porta sem lectus, ac rhoncus orci sollicitudin nec.
	
.box
	h3
		span.glyphicon.glyphicon-time
		span 20 weeks
	:marked
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Suspendisse ornare gravida massa, non aliquam urna finibus vel.
		Sed nunc felis, tincidunt vitae est non, fermentum porttitor nibh.
		Nullam a neque imperdiet, ultrices dolor ac, dignissim sapien.
		Nam sit amet sapien ut ante tincidunt cursus quis vel erat.
		Duis porta sem lectus, ac rhoncus orci sollicitudin nec.
	
.box
	h3
		span.glyphicon.glyphicon-time
		span 6 months
	:marked
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Suspendisse ornare gravida massa, non aliquam urna finibus vel.
		Sed nunc felis, tincidunt vitae est non, fermentum porttitor nibh.
		Nullam a neque imperdiet, ultrices dolor ac, dignissim sapien.
		Nam sit amet sapien ut ante tincidunt cursus quis vel erat.
		Duis porta sem lectus, ac rhoncus orci sollicitudin nec.
	
.box
	h3
		span.glyphicon.glyphicon-time
		span 1 - 2 years
	:marked
		Lorem ipsum dolor sit amet, consectetur adipiscing elit.
		Suspendisse ornare gravida massa, non aliquam urna finibus vel.
		Sed nunc felis, tincidunt vitae est non, fermentum porttitor nibh.
		Nullam a neque imperdiet, ultrices dolor ac, dignissim sapien.
		Nam sit amet sapien ut ante tincidunt cursus quis vel erat.
		Duis porta sem lectus, ac rhoncus orci sollicitudin nec.