include ../header.pug

.box
	h2= __(title)
	
	!= md(__(lead))
	
.box
	h3
		span.glyphicon.glyphicon-time
		span= __(shortCourse)
	
	!= md(__(shortCourse.text))
	
	h4 Schedule
	ul
		li
			strong Winter 2018: 
			span January 10 - March 16 (Only for people with JLPT N5 level)
		li
			strong Spring 2018: 
			span April 17 - June 23 (Beginners Ok)
		li
			strong Summer 2018: 
			span June 26 - September 20 (Only for people with JLPT N5 level)
		li
			strong Fall 2018: 
			span October 15 - December 22 (Beginners Ok)
		
.box
	h3
		span.glyphicon.glyphicon-time
		span= __(intensiveCourse)
	
	!= md(__(intensiveCourse.text))
	
	h4 Schedule
	ul
		li
			strong Spring 2018: 
			span April 17 - September 21
		li
			strong Fall 2018: 
			span October 15 - March 19
		li
			strong Spring 2019: 
			span April 15 - September 19
		li
			strong Fall 2019: 
			span October 14 - March 19
	
.box
	h3 Class time
	p In 1 week we have 20 units (1 unit is 45 min. long).
	
	p
		strong Introductory and Beginner level:
	ul
		li 1:15 pm to 4:45 pm (5 times a week)
	
	p 
		strong Intermediate and Advanced level:
	ul
		li 9:00 am to 12:30 pm (5 times a week)
	
