.new-article
	#editing
		p
			input(id='article-title', type='text', placeholder='Title')

		p
			textarea(id='article-text', placeholder='Content')
		
		p
			button#publish
				span.fa.fa-check
				| Publish

	#preview