textarea
	width 100%
	min-height 200px

.new-article
	display flex
	flex-flow row

#editing
	width 50%
	padding-right 1em

#preview
	border-left 1px solid rgba(0, 0, 0, 0.1)
	width 50%
	padding-left 1em