@require "styles/config.styl"

body
	font-family "Open Sans", sans-serif
	-webkit-font-smoothing antialiased
	background-image url('/images/background.png')

a
	color linkColor
	text-decoration none
	&:hover
		color linkColor + 15%

h1
	font-size 2em
	line-height 1.4em

h2
	font-size 1.8em
	line-height 1.7em
	margin 0.5em 0
	border-bottom 1px dotted rgba(0, 0, 0, 0.5)

p
	line-height 1.7em
	margin 0.5em 0

strong
	font-weight bold

em
	font-style italic

img
	max-width 100%

span.glyphicon
	font-size 0.9em
	margin-right 0.5em

.wrapper
	max-width 728px

.widget
	display flex
	flex-direction column
	padding 1em
	margin 1em
	width calc(100% - 2em)
	border-radius 5px
	background-color rgb(255, 255, 255)
	box-sizing border-box
	box-shadow 0 0 6px rgba(0, 0, 0, 0.6)