@require "styles/config.styl"

body
	font-family "Open Sans", sans-serif
	-webkit-font-smoothing antialiased
	background-image url('/images/background.png')
	overflow-y scroll
	opacity 0.25
	color textColor
	transform rotateY(90deg)
	transition all 400ms ease

.loaded
	opacity 1
	transform rotateY(0deg)

a
	color linkColor
	text-decoration none
	&:hover
		color linkColor + 15%

h1
	font-size 2em
	line-height 1.4em

h2
	font-size 2em
	line-height 1.7em
	margin 0.5em 0
	border-bottom 1px dotted rgba(0, 0, 0, 0.5)

h3
	font-size 1.5em
	line-height 1.7em
	margin 0.5em 0
	border-bottom 1px dotted rgba(0, 0, 0, 0.5)

p, dt, dd, .question, .answer
	line-height 1.7em
	margin 0.5em 0

dt
.question
	font-weight bold

/*.question:hover
	.answer
		opacity 1
		height auto
		transform rotateX(0)*/

dd
.answer
	font-weight normal
	margin-left 1em
	/*opacity 0
	height 0
	transform rotateX(90deg)
	transition all 200ms ease*/

p:first-child
	margin-top 0

p:last-child
	margin-bottom 0

strong
	font-weight bold

em
	font-style italic

img
	max-width 100%

#content img
	width 100%

span.glyphicon
	font-size 0.9em
	margin-right 0.5em

ul
	list-style-type square

ol
	list-style-type decimal

ul, ol
	list-style-position outside
	padding 0
	margin-left 1.7em
	width calc(100% - 1.7em)

li
	line-height 1.7em
	margin 0.1em 0

tr:hover
	background-color rgba(0, 0, 0, 0.05)

#container
#header
#main
#content
#sidebar
#footer
	display flex
	flex-direction column
	padding 0
	margin 0

#container
	padding 0.5em
	margin 0 auto

#header
#main
#footer
	width 100%

#main
	display flex
	flex-direction row

#content
	width calc(100% - 300px)
	flex-grow 1

#sidebar
	width 300px
	flex-grow 0

.box
	display block
	position relative
	padding 1rem
	margin 0.5rem
	border-radius borderRadius
	background-color rgb(255, 255, 255)
	box-sizing border-box
	box-shadow 0 0 6px rgba(0, 0, 0, 0.6)
	overflow hidden

.badge
	position absolute
	top 30px
	right -140px
	width 400px
	height 50px
	line-height 50px
	text-align center
	font-size 1.2em
	font-weight 700
	text-transform uppercase
	background-color red
	color white
	box-shadow 0 0 8px rgba(0, 0, 0, 0.5)
	opacity 0.7
	transform rotateZ(45deg)