@media only screen and (max-width: 850px)
	#main
		flex-flow row wrap

	#sidebar
		width 100%
		flex-grow 1

	#navigation
		justify-content center

	.title
	.logo
		display none

@media only screen and (max-width: 765px)
	.nav-text
		display none

	.nav-icon
		font-size 1.8em !important
		margin 0 !important