.flags
	display flex
	align-items center
	justify-content center

.flag
	flex 1
	text-align center
	transition all 350ms ease
	transform rotateZ(0)
	filter saturate(90%)
	&:hover
		filter saturate(100%)
		transform rotateZ(360deg)

.flag-image
	box-shadow 0 0 4px rgba(0, 0, 0, 0.3)

.apply-now
	display flex
	align-items left
	justify-content left
	font-size 1.2em
	color white
	background-image url('/images/apply-now.png')
	background-size cover
	// background-size auto 100%
	// background-position right center
	// background-repeat no-repeat
	text-shadow none
	font-weight bold
	letter-spacing 1px
	transition all 200ms ease
	&:hover
		color rgb(255, 255, 128)
		text-decoration none
		text-shadow 0 0 8px rgba(255, 255, 128, 0.5)
		box-shadow 0 0 24px rgba(0, 0, 0, 0.75)
		transform scale(1.03)
		
.Contact
	display flex
	align-items center
	justify-content left
	font-size 1.8em
	color black
	background-image url('/images/contact.png')
	background-size cover
	// background-size auto 100%
	// background-position center center
	// background-repeat no-repeat
	ext-shadow none
	font-weight bold
	letter-spacing 1px
	transition all 200ms ease
	&:hover
		color rgb(255, 255, 128)
		text-decoration none
		text-shadow 0 0 8px rgba(255, 255, 128, 0.5)
		box-shadow 0 0 24px rgba(0, 0, 0, 0.75)
		transform scale(1.03)
	

.sidebar-logos
	text-align center

.sidebar-logo
	margin 0 1em

.sidebar-social-media
	display flex
	padding 0
	overflow visible

.sidebar-social-media:hover
	box-shadow 0 0 6px rgba(0, 0, 0, 0.6)

.sidebar-social-media-link
	flex 1
	text-align center
	border-radius 0
	margin 0
	padding 0.5em
	transition all 250ms ease

.sidebar-social-media-link:first-child
	border-top-left-radius borderRadius
	border-bottom-left-radius borderRadius

.sidebar-social-media-link:last-child
	border-top-right-radius borderRadius
	border-bottom-right-radius borderRadius

.sidebar-social-media-link:hover
	box-shadow 0 0 6px rgba(0, 0, 0, 0.6)
	transform scale(1.1)

.facebook
	background-color rgb(59, 89, 152)

.googleplus
	background-color rgb(221, 75, 57)

.twitter
	background-color rgb(0, 172, 237)

.mail-button
	background-color rgb(80, 80, 80)
