table
	width 100%

th
	font-size 1.2em
	padding 5px 0
	text-align left

tr
	border-bottom-width 1px
	border-bottom-style solid
	border-bottom-color rgba(0, 0, 0, 0.05)

	&:last-child
		border none

td
	padding 0.3em 0.5em
	text-align left
	vertical-align top

td
	text-align left
	vertical-align top
	padding 0.5em